          </div>
        </div>

        <div class="container">
            <div class="footer-bottom footer navbar">
                <p class="pull-left"> &nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy; Footer 2017. All right reserved. </p>
                <div class="pull-right footer-logo">
                    <img src="/../images/logo.png" width="150">
                </div>
            </div>
        </div>
    </body>
</html>


