<!DOCTYPE html>
<html>
    <head>
        <title>User Authentication with NodeJs Express and MySql</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div class="container">
            <% if(page_title) { %>
                <div class="page-header">
                    <h2><%=page_title%></h2>
                    <% if(typeof path === 'undefined') { %>
                    <a href="/logout" class="btn btn-default btn-danger btn-sm pull-right" style="margin-top:-40px;"><i class="fa fa-sign-out" aria-hidden="true"></i>
 Logout</a>
 <% } %>
                </div>
            <% } else { %>
            <div style="height:50px;">&nbsp;</div>
            <%  } %>
            <div class="clearfix"></div>
            <div class="page-container">
