<%- include layouts/header.ejs %>

    <form method="post" action="/customers/add">
        <table class="table">
        <tr>
            <td class="label">Name</td><td>: <input type="text" name="name" required></td>
         </tr>
         <tr>
            <td class="label" valign="top">Address</td><td valign="top">: <textarea name="address" required cols="30" rows="5"></textarea></td>
        </tr>
        <tr>
            <td class="label">Email</td><td>: <input type="text" name="email" required></td>
         </tr>
          <tr>
            <td class="label">Phone</td><td>: <input type="text" name="phone" required></td>
         </tr>
         <tr>
            <td class="label">&nbsp;</td>
            <td>
                &nbsp; <input type="submit" name="submit" value="Save">
               <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
            </td>
         </tr>
        </table>
    </form>
<%- include layouts/footer.ejs %>
