<%- include layouts/header.ejs %>

        <div class="page-data">
            <div class="data-btn">
               <button onClick="addUser();" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i> Add</button>
            </div>
            <div>&nbsp;</div>
            <table class="table">
                <tr>
                    <th width="50px">No</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].address%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].email%></td>
                    <td>
                        <a class="a-inside edit" href="../customers/edit/<%=data[i].id%>"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                       
                        <a onclick="javascript: return confirm('Are you sure to delete the record?');" class="a-inside delete" href="../customers/delete/<%=data[i].id%>"><i class="fa fa-remove fa-2x text-danger" aria-hidden="true"></i></a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
            </table>
        </div>
        
<%- include layouts/footer.ejs %>
