<%- include layouts/header.ejs %>
<form method="post" action="" id="the-form">
    <table class="table">
    <tr>
        <td class="label">Name</td><td>: <input type="text" name="name" value="<%=data[0].name%>"></td>
     </tr>
    <tr>
        <td class="label">Email</td><td>: <input type="text" name="email" value="<%=data[0].email%>"></td>
     </tr>
      <tr>
        <td class="label">Password</td><td>: <input type="password" name="password" value="<%=data[0].password%>"></td>
     </tr>
     <tr>
        <td class="label">&nbsp;</td>
        <td>
            &nbsp; <input type="button" value="Save" onClick="saveUser()">
        </td>
     </tr>
    </table>
</form>
 <script>
        function saveUser(){
           
           $.ajax({
            
            url:"/updateuser/"+<%=data[0].user_id%>,
            type:"put",
            data:$("#the-form").serialize(),
            success:function(res){
                
                window.location.href = '/users';
                return false;
            },
            error:function(xhr, status, error){
                
                console.log(xhr.responseText);
                var err = '';
                $.each(JSON.parse(xhr.responseText) , function(i, item) {
                   
                     err +='<li>'+item.msg+'</li>';
                });
                $(".err-area").html(err);    
                return false;
            }
            
           });
        }
    
    </script>
<%- include layouts/footer.ejs %>
